.expense-date {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid white;
  color: white;
  border-radius: 9px;
  width: 150px;
  background-color: rgb(42, 10, 10);
}
.day {
  font-weight: bolder;
  font-size: 30px;
}
.month {
  font-weight: bold;
}
.year {
  font-size: larger;
}
